In [2]:
l = [10,20,30,40,50,60]
l2 = []
for value in l:
    l2.append(value * value)
print(l2)

[100, 400, 900, 1600, 2500, 3600]

In [4]:
l = [10,20,30,40,50,60]
l2 = [value*value for value in l]
print(l2)

[100, 400, 900, 1600, 2500, 3600]

In [6]:
l = ['abc','abcd','aabbccddd','eeeeeeaaaaaaa']
l2 =[len(value) for value in l]
print(l2)

[3, 4, 9, 13]

In [8]:
l = ['abc','abcd','aabbccddd','eeeeeeaaaaaaa']
l2 = [value[0]+value[-1] for value in l]
print(l2)

['ac', 'ad', 'ad', 'ea']

In [10]:
import random
l2 = [random.randint(10,50) for index in range(5)]
print(l2)

[39, 25, 34, 41, 23]

In [14]:
import timeit
t = timeit.timeit(stmt = """ 
l2 =[]
for value in range(1,10000000):
    l2.append(value * value)
""",number = 1)
print(t)

1.1108673230000363

In [17]:
t = timeit.timeit(stmt = """
l2 = [value * value for value in range(1,10000000)]
""",number = 1)
print(t)

0.7928610900000308

In [19]:
l = [10,15,20,25,30,35,40,45]
l2 = [value for value in l if value % 2 == 0]
print(l2)

[10, 20, 30, 40]

In [21]:
l = [10,15,20,25,30,35,40,45]
l2 = ["Even" if value %2 == 0 else "Odd" for value in l if value % 3 == 0]
print(l2)

['Odd', 'Even', 'Odd']

In [23]:
for value1 in range(1,5):
    for value2 in range(101,105):
        print(value1,value2)

1 101
1 102
1 103
1 104
2 101
2 102
2 103
2 104
3 101
3 102
3 103
3 104
4 101
4 102
4 103
4 104

In [25]:
l2 = [(value1,value2) for value1 in range(1,5) for value2 in range(101,105)]
print(l2)

[(1, 101), (1, 102), (1, 103), (1, 104), (2, 101), (2, 102), (2, 103), (2, 104), (3, 101), (3, 102), (3, 103), (3, 104), (4, 101), (4, 102), (4, 103), (4, 104)]

In [27]:
l = [[1,2,3],[4,5,6],[7,8,9]]
# l2 = [1,2,3,4,5,6,7,8,9]
l2 = [value2 for value in l for value2 in value]
print(l2)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
l = [[1,2,3],[4,5,6],[7,8,9]]
l2 =[[value[index] for value in l] for index in range(len(l[0]))]
print(l2)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [31]:
d = {key:key*key for key in range(1,11)}
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [34]:
d = {chr(value):value for value in range(97,123)}
print(d)

d2 = {value:key for key,value in d.items() if value % 2 == 0}
print(d2)

{'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101, 'f': 102, 'g': 103, 'h': 104, 'i': 105, 'j': 106, 'k': 107, 'l': 108, 'm': 109, 'n': 110, 'o': 111, 'p': 112, 'q': 113, 'r': 114, 's': 115, 't': 116, 'u': 117, 'v': 118, 'w': 119, 'x': 120, 'y': 121, 'z': 122}
{98: 'b', 100: 'd', 102: 'f', 104: 'h', 106: 'j', 108: 'l', 110: 'n', 112: 'p', 114: 'r', 116: 't', 118: 'v', 120: 'x', 122: 'z'}

In [36]:
l = [10,15,20,15,45,43,85,78,89]
l2 = {value%5 for value in l}
print(l2)

{0, 3, 4}

In [41]:
l = [10,15,20,15,45,43,85,78,89]
l2 = (value * value for value in l)
print(l2)

<generator object <genexpr> at 0x00000241C5F4EC48>