In [1]:
def evenWordsCollector(*args):
    l = []
    for word in args:
        if ifWordEven(word):
            l.append(word)
    res = ' '.join(l)
    return res

In [4]:
def ifWordEven(word):
    if len(word) % 2 == 0:
        return True
    else:
        return False

In [6]:
evenWordsCollector('abc','def','abcd','jklm')

'abcd jklm'

In [8]:
ifWordEven('Hell')

True

In [11]:
#creating list of employee data

def createEmpData(list_emps, **kwargs):
    list_emps.append(kwargs)

In [13]:
list_emps = []

createEmpData(list_emps, name='abc',age=20)

In [15]:
list_emps

[{'name': 'abc', 'age': 20}]

In [17]:
createEmpData(list_emps, name='def',age=20,location='blore')

In [19]:
list_emps

[{'name': 'abc', 'age': 20},
 {'name': 'def', 'age': 20, 'location': 'blore'},
 {'name': 'def', 'age': 20, 'location': 'blore'}]

In [21]:
createEmpData(list_emps, name='def',age=20,salary=100000)
createEmpData(list_emps, name='def',age=20,salary=500000)

In [23]:
list_emps

[{'name': 'abc', 'age': 20},
 {'name': 'def', 'age': 20, 'location': 'blore'},
 {'name': 'def', 'age': 20, 'location': 'blore'},
 {'name': 'def', 'age': 20, 'salary': 100000},
 {'name': 'def', 'age': 20, 'salary': 500000},
 {'name': 'def', 'age': 20, 'salary': 100000},
 {'name': 'def', 'age': 20, 'salary': 500000}]

In [24]:
def createStudentData(list_students, **marks):
    list_students.append(marks)

In [26]:
list_students = []
createStudentData(list_students,name='david',maths=80, science=75,english=76)
createStudentData(list_students,name='rohit',maths=90, science=85,english=66)
createStudentData(list_students,name='raj',maths=40, science=55,english=56)
createStudentData(list_students,name='yazhini',maths=80, science=88,english=76)

In [28]:
list_students

[{'name': 'david', 'maths': 80, 'science': 75, 'english': 76},
 {'name': 'rohit', 'maths': 90, 'science': 85, 'english': 66},
 {'name': 'raj', 'maths': 40, 'science': 55, 'english': 56},
 {'name': 'yazhini', 'maths': 80, 'science': 88, 'english': 76}]

In [31]:
def calcMarksAvg(list_students):
    for student in list_students:
        total_marks = 0
        count = 0
        for k,v in student.items():
            if k != 'name':
                total_marks += v
                count += 1
        student['avg'] = total_marks/count

In [33]:
calcMarksAvg(list_students)

In [34]:
list_students

[{'name': 'david', 'maths': 80, 'science': 75, 'english': 76, 'avg': 77.0},
 {'name': 'rohit',
  'maths': 90,
  'science': 85,
  'english': 66,
  'avg': 80.33333333333333},
 {'name': 'raj',
  'maths': 40,
  'science': 55,
  'english': 56,
  'avg': 50.333333333333336},
 {'name': 'yazhini',
  'maths': 80,
  'science': 88,
  'english': 76,
  'avg': 81.33333333333333}]

In [36]:
def f(e):
    return e['avg']
max(list_students,key=f)

{'name': 'yazhini',
 'maths': 80,
 'science': 88,
 'english': 76,
 'avg': 81.33333333333333}

In [ ]:
######reversing key value in dictionary

In [42]:
db = { 'a':20, 'b':20, 'c':22 , 'd':20}

In [43]:
db

{'a': 20, 'b': 20, 'c': 22, 'd': 20}

In [45]:
newdb = {}

In [46]:
for k,v in db.items():
    #if v is appearing first time as a key
    if v not in newdb:
        newdb[v] = k
    #If v is appearing not first time as a key
    else:
        #If value is not yet a list, create one
        if not isinstance(newdb[v], list):
            temp = newdb[v]
            newdb[v] = [temp,k]
        #If value is a list, append k here
        else:
            newdb[v].append(k)

In [47]:
newdb

{20: ['a', 'b', 'd'], 22: 'c'}