In [2]:
print('hi')

hi

In [5]:
num1 = 100
num2 = 200
num3 = num1 + num2
print(num3)

300

In [8]:
name = "shaik mohammed sohail"
print(type(name))
print(id(name))

<class 'str'>
2332892940848

In [10]:
nums = [100,200,300,400]
print(type(nums))

<class 'list'>

In [15]:
print(type("sohail"))

<class 'str'>

In [17]:
ad = {1:1,2:2,3:3}
print(type(d))

<class 'dict'>

In [21]:
s="sohail"
print(id(s))
s="mohammed"
print(id(s))

2332892973360
2332893519216

In [27]:
l = [10,20,30]
print(id(l))
l.append(50)
print(l)
print(id(l))

2332892146504
[10, 20, 30, 50]
2332892146504

In [30]:
s = {10,20,30,40,50,50,60,60}
print(type(s),s)

<class 'set'> {40, 10, 50, 20, 60, 30}

In [32]:
num1 = 5555
num2 = 5555
print(id(num1),id(num2))

2332892988944 2332892988912

In [33]:
same id lies only anywhere between 0-256 => is called object itering

SyntaxError: invalid syntax (<ipython-input-33-5b493b5380db>, line 1)

In [40]:
s1 = "sohail"
s2 = "mohammed"
print(s1+s2)

sohailmohammed

In [42]:
s="mohammed"
print(s*2)

mohammedmohammed

In [44]:
print(10/3)

3.3333333333333335

In [46]:
print(10//3)

3

In [48]:
print(10%3)

1

In [50]:
print(10**2)

100

In [55]:
a = "python"
b = "python"
print(a==b)

True

In [57]:
print(10>5)

True

In [60]:
l = [10,20,30,40,50]
print(10 in l)
print(100 in l)

True
False

In [64]:
a = "python"
print("p" in a)
print("p"not in a)

True
False

In [74]:
print(5 in 500)
#not iterable ; int,float
#iterable ; str,tuple,list,dict,set

TypeError: argument of type 'int' is not iterable

In [77]:
d = {1:100,2:200,3:300}
print(3 in d)
print(300 in d)

True
False

In [80]:
l1 = [10,20,30]
l2 = [10,20,30]
print(l1==l2)
print(l1 is l2)
# == compares values
# is compares memory location

True
False

In [84]:
a = 100
print(a)
a += 10
print(a)
a -= 4
print(a)

100
110
106

In [88]:
print(100!=100)
print(100==100)
print(100 is 100)

False
True
True

In [89]:
print(type(100))

<class 'int'>