In [2]:
#tuples

t = (10,20,30,40,50)
print(type(t))

<class 'tuple'>

In [4]:
a = 10,20
print(a,type(a))

(10, 20) <class 'tuple'>

In [6]:
t = (100,200,300,400,100,200,300)
print(t.count(100))
print(t.index(200))

2
1

In [8]:
t = (100,200,300,400,100,200,300)
print(t[0])
print(t[-1])
t1 = t[2:]
print(t1)

100
300
(300, 400, 100, 200, 300)

In [9]:
l = [10,20,30,40,50]
for t in enumerate(l):
    print(t)

(0, 10)
(1, 20)
(2, 30)
(3, 40)
(4, 50)

In [10]:
##DICTIONARY

In [12]:
d = {"email":"abc@gmail.com","name":"ABC","email":"pqr@gmail.com"}
print(d)

{'email': 'pqr@gmail.com', 'name': 'ABC'}

In [15]:
d = {"email":"abc@gmail.com","name":"ABC","age":50,"marks": [50,70,70,80,90]}
# print(d["email"])
print(d["name"])
print(d["marks"][-1])

ABC
90

In [17]:
d = {"email":"abc@gmail.com","name":"ABC","age":50,"marks": [50,70,70,80,90]}
d['id'] = 45
print(d)
d['id'] = 50
print(d)

{'email': 'abc@gmail.com', 'name': 'ABC', 'age': 50, 'marks': [50, 70, 70, 80, 90], 'id': 45}
{'email': 'abc@gmail.com', 'name': 'ABC', 'age': 50, 'marks': [50, 70, 70, 80, 90], 'id': 50}

In [19]:
d = {}
# chr(97)... 122 => range 
for value in range(ord('a'),ord('z')+1):
    d[chr(value)] = value
print(d)

{'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101, 'f': 102, 'g': 103, 'h': 104, 'i': 105, 'j': 106, 'k': 107, 'l': 108, 'm': 109, 'n': 110, 'o': 111, 'p': 112, 'q': 113, 'r': 114, 's': 115, 't': 116, 'u': 117, 'v': 118, 'w': 119, 'x': 120, 'y': 121, 'z': 122}

In [8]:
d = {"email":"abc@gmail.com","name":"ABC","age":50,"marks": [50,70,70,80,90]}
# print(d['id'])
print(d.get("marks"))

[50, 70, 70, 80, 90]

In [13]:
d = {"email":"abc@gmail.com","name":"ABC","age":50,"marks": [50,70,70,80,90]}
d.setdefault("id",60)
print(d)

{'email': 'abc@gmail.com', 'name': 'ABC', 'age': 50, 'marks': [50, 70, 70, 80, 90], 'id': 60}

In [15]:
d = {}
# chr(97)... 122 => range 
for value in range(ord('a'),ord('z')+1):
    d.setdefault(chr(value),value)
print(d)

{'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101, 'f': 102, 'g': 103, 'h': 104, 'i': 105, 'j': 106, 'k': 107, 'l': 108, 'm': 109, 'n': 110, 'o': 111, 'p': 112, 'q': 113, 'r': 114, 's': 115, 't': 116, 'u': 117, 'v': 118, 'w': 119, 'x': 120, 'y': 121, 'z': 122}

In [17]:
d= {}
for value in range(1,21):
    d.setdefault(value,value * value)
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}

In [19]:
l1 = [10,20,30,40]
l2 = [100,200,300,400,500]
l3 = [100,200,300,400,500]
print(list(zip(l1,l2,l3)))
for value in zip(l1,l2,l3):
    print(value)

[(10, 100, 100), (20, 200, 200), (30, 300, 300), (40, 400, 400)]
(10, 100, 100)
(20, 200, 200)
(30, 300, 300)
(40, 400, 400)

In [22]:
d = {}
# d = {(1,10):0,(11,20):0.......(91,100):0}

# 1 , 11, 21 ...... 91 range(1,92,10)
# 10 20 30 40 50 ... 100 range(10,101,10)

l1 = range(1,92,10)
l2 = range(10,101,10)

for key in zip(l1,l2):
    d.setdefault(key,0)    
   # print(d)

num1 = 45 
l3 = [14,15,56,78,41,25]

for num1 in l3:
    for key,value in d.items():
        if num1 > key[0] and num1 <=key[1]:
            d[key]+=1

print(d)

{(1, 10): 0, (11, 20): 2, (21, 30): 1, (31, 40): 0, (41, 50): 0, (51, 60): 1, (61, 70): 0, (71, 80): 1, (81, 90): 0, (91, 100): 0}

In [29]:
d = {"email":"abc@gmail.com","name":"ABC","age":50,"marks": [50,70,70,80,90]}
for x in d:
    print(x,d.get(x))

email abc@gmail.com
name ABC
age 50
marks [50, 70, 70, 80, 90]

In [31]:
d = {"email":"abc@gmail.com","name":"ABC","age":50,"marks": [50,70,70,80,90]}
for key,value in d.items():
    print(key,value)

email abc@gmail.com
name ABC
age 50
marks [50, 70, 70, 80, 90]

In [33]:
print(d.keys())
print(d.values())
print(d.items())

dict_keys(['email', 'name', 'age', 'marks'])
dict_values(['abc@gmail.com', 'ABC', 50, [50, 70, 70, 80, 90]])
dict_items([('email', 'abc@gmail.com'), ('name', 'ABC'), ('age', 50), ('marks', [50, 70, 70, 80, 90])])

In [35]:
l1= [1,2,3,4,5]
l2 = [1,4,9,16,25]
d = dict(zip(l1,l2))
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [37]:
l1 = [1,2,3,4,5,6,7]
d = dict.fromkeys(l1,0)
print(d)

{1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6: 0, 7: 0}

In [39]:
d1 = {1:1,2:4,3:9}
d2 = {2:25,6:36}
d1.update(d2)
print(d1)

{1: 1, 2: 25, 3: 9, 6: 36}